# Python
__pycache__
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Flask
instance/
.webassets-cache

# IDEs
.vscode/
.idea/
*.swp

# Environment variables
.env
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache
*.cover
*.log

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a .spec file
*.manifest
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Coverage
.coverage
.coverage.*
